*{ margin: 0; padding: 0; box-sizing: border-box;}
body{ font-family: 'Poppins', sans-serif; min-height: 100vh; position: relative;}
body.dark { background-color: #0F0E1C;}
header { display: flex; align-items: center; padding:10px 15px; justify-content: space-between; flex-wrap: wrap;  border-radius: 0 0 20px 20px}
header .logo-block { max-width: 200px;margin: 0; padding: 0; }
header .logo-block img { width: 100%; height: auto; }
header .search-box { width: 900px; max-width: 100%; }
header .search-box input{font-size: 16px; width: 100%; min-height:50px; padding: 6px 12px; border: none; outline: none; border-radius: 5px;}
body.dark header{ background-color: #1A1D2E;}
header .search-box .search-filter { position: relative;}
header .search-box span {position: absolute; top: 11px; right: 16px; font-size: 24px;}
body.dark header .search-box input{ color: #fff;  background-color: #0F0E1C; }
body.dark header .search-box span { color: rgb(255 255 255 / 50%);}
.settings-block #toggle-switch { cursor: pointer; background: none; border: none; outline: none;}
#img-results { padding: 50px 0; display: grid;  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr)); grid-auto-flow:dense;  grid-gap: 15px;}
#img-results .img-block {  box-sizing: border-box; background: rgb(26 29 46);  box-sizing: border-box; border-radius: 10px; overflow: hidden; margin: 0;}
#img-results .img-block figure{ border-radius: 10px; height: 100%; margin: 0; padding: 0; line-height: 0; }
#img-results .img-block figure img{ width: 100%; height: 100%; object-fit: cover;}
#error { text-align: center; display: none;}
#error h2 { font-size: 20px; font-weight: 300; text-transform: uppercase; display: inline-block;  padding: 10px 20px; border-radius: 15px;}
#img-results .img-block {position: relative; }
#img-results .img-block .img-details {  display: flex; justify-content: space-between;position: absolute; width: 100%; bottom: 20px; left: 0; padding: 0 15px;}
#img-results .img-block .img-details p {  background: rgb(15 14 28); padding: 5px; border-radius: 21px; color: rgb(255 255 255); display: inline-flex; align-items: center; padding-right: 10px; font-size: 12px; line-height: 14px;}
#img-results .img-block .img-details p img { align-self: center; line-height: 0; width: 23px; height: auto; border-radius: 50%; display: inline-block; vertical-align: middle; margin-right: 10px;}
#img-results .img-block .img-details  a{display: inline-flex; width: 30px; height: 30px; background-color: rgb(15 14 28); color: rgb(255 255 255); border-radius: 50%; align-items: center; justify-content: center; text-decoration: none;}
#img-results .img-block .img-details  a span { font-size: 15px;}
body.dark #error h2 {color: #fff; background-color: #1A1D2E;}

.large-img-container { position: absolute;  width: calc(100% - 60px); margin: 0 auto; background-color: #1A1D2E; padding: 0; border-radius: 10px; min-height: 90vh; box-shadow: 0 0 15px 3px #10121c; top: 15px; left: 30px; padding-bottom: 40px;}
.large-img-container .close-button {    position: fixed; top: 13px; right: 33px; width: 30px; height: 30px; background: rgb(255 255 255); display: inline-flex; justify-content: center; align-items: center; border-radius: 50%; font-size: 15px; color: rgb(26 29 46); cursor: pointer; z-index: 99;}
.large-img-container figure { text-align: center;}
.large-img-container figure img { max-width:calc(100% - 60px); height: auto; }
.open-container-img { overflow: hidden;}
.box-large-container {  overflow-x: hidden; overflow-y: auto; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgb(0 0 0 / 78%);}
.box-large-container .title-block { background: #0F0E1C; display: flex; justify-content: space-between; align-items: center; padding: 20px;margin-bottom: 25px;}
.box-large-container .title-block .author { display: inline-flex; align-items: center;}
.box-large-container .title-block .author img { width: 50px; height: auto; border-radius: 50%; }
.box-large-container .title-block .author p { font-size: 18px; color: #fff; line-height: 20px; padding: 0 0 0 20px; margin: 0;}
.box-large-container .title-block .img-by a { display: inline-flex; flex-direction: column; align-items:center; background: #fff;padding: 5px; text-decoration: none;font-size: 13px; color: #1A1D2E; line-height: 16px; text-transform: uppercase; letter-spacing: 0.1em; border-radius: 2px;}
.box-large-container .title-block .right-block { display: flex; align-items: center;}
.box-large-container .title-block .right-block p { display: inline-flex; align-items: center; padding: 0 10px; font-size: 14px; color: #fff; line-height: 16px; }
.box-large-container .title-block .right-block p span{ margin-right: 5px; }
.box-large-container .title-block .right-block p a{transition: all 0.3s ease; display: inline-flex;align-items: center; font-size: 14px; color:#fff; padding: 0; margin: 0; text-decoration: none; }
.box-large-container .title-block .right-block p:first-child:hover a{ color: #8AE22E;}
.box-large-container .bottom-block { display: flex; justify-content: center; padding-top: 20px;}
.box-large-container .bottom-block p { transition: all 0.3s ease-in-out; cursor: pointer; font-size: 14px; color: #fff; line-height: 16px;     padding: 5px 10px; border: 1px solid rgb(255 255 255 / 62%); border-radius: 2px; margin: 0 5px; box-shadow: 0 0 3px #eaeaea59;}
.box-large-container .bottom-block p:hover { background: #fff; color: #1A1D2E; }

.gradient {
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #0F0E1C;
    background: linear-gradient(to right, rgb(15 14 28 / 83%) 8%, rgb(15 14 28 / 79%) 38%, rgb(15 14 28 / 58%) 54%);
    background-size: 1000px 640px;
    
    position: relative;
    
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}






